In [39]:
import pyspark

### CReating Spark Session

In [40]:
from pyspark.sql import SparkSession

In [41]:
spark =SparkSession.builder.appName('practice').getOrCreate()

In [42]:
spark

In [43]:
df_spark = spark.read.csv('machine-readable-business-employment-data-june-2022-quarter.csv')

In [44]:
df_spark.show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|             _c0|    _c1|       _c2|       _c3|   _c4|   _c5|      _c6|                 _c7|                 _c8|           _c9|                _c10|          _c11|          _c12|          _c13|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
|     BDCQ.SEA1AA|2011.06|     80078|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.09|     78324|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.12|     85850|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.03|     90743|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.06|     81780|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.09|     79261|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.12|     87793|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.03|     91571|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.06|     81687|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.09|     81471|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.12|     93950|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.03|     97208|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.06|     85879|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.09|     84447|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.12|     95075|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.03|     98202|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.06|     87987|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.09|     84529|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.12|     96848|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

In [45]:
df_spark.head(3)

[Row(_c0='Series_reference', _c1='Period', _c2='Data_value', _c3='Suppressed', _c4='STATUS', _c5='UNITS', _c6='Magnitude', _c7='Subject', _c8='Group', _c9='Series_title_1', _c10='Series_title_2', _c11='Series_title_3', _c12='Series_title_4', _c13='Series_title_5'),
 Row(_c0='BDCQ.SEA1AA', _c1='2011.06', _c2='80078', _c3=None, _c4='F', _c5='Number', _c6='0', _c7='Business Data Collection - BDC', _c8='Industry by employment variable', _c9='Filled jobs', _c10='Agriculture, Forestry and Fishing', _c11='Actual', _c12=None, _c13=None),
 Row(_c0='BDCQ.SEA1AA', _c1='2011.09', _c2='78324', _c3=None, _c4='F', _c5='Number', _c6='0', _c7='Business Data Collection - BDC', _c8='Industry by employment variable', _c9='Filled jobs', _c10='Agriculture, Forestry and Fishing', _c11='Actual', _c12=None, _c13=None)]

In [46]:
df_spark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)

### Read the dataset|

In [47]:
df_spark = spark.read.option('header','True').csv('machine-readable-business-employment-data-june-2022-quarter.csv',inferSchema=True)

### Check the schema

In [48]:
df_spark= spark.read.csv('machine-readable-business-employment-data-june-2022-quarter.csv', header = True, inferSchema=True)
df_spark.show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|     BDCQ.SEA1AA|2011.06|   80078.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.09|   78324.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.12|   85850.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.03|   90743.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.06|   81780.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.09|   79261.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.12|   87793.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.03|   91571.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.06|   81687.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.09|   81471.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.12|   93950.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.03|   97208.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.06|   85879.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.09|   84447.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.12|   95075.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.03|   98202.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.06|   87987.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.09|   84529.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.12|   96848.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2016.03|   99291.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

### dataTypes of columns

In [49]:
df_spark.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: double (nullable = true)
 |-- Data_value: double (nullable = true)
 |-- Suppressed: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- UNITS: string (nullable = true)
 |-- Magnitude: integer (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Series_title_1: string (nullable = true)
 |-- Series_title_2: string (nullable = true)
 |-- Series_title_3: string (nullable = true)
 |-- Series_title_4: string (nullable = true)
 |-- Series_title_5: string (nullable = true)

In [50]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [51]:
df_spark.columns

['Series_reference',
 'Period',
 'Data_value',
 'Suppressed',
 'STATUS',
 'UNITS',
 'Magnitude',
 'Subject',
 'Group',
 'Series_title_1',
 'Series_title_2',
 'Series_title_3',
 'Series_title_4',
 'Series_title_5']

In [52]:
df_spark.head(2)

[Row(Series_reference='BDCQ.SEA1AA', Period=2011.06, Data_value=80078.0, Suppressed=None, STATUS='F', UNITS='Number', Magnitude=0, Subject='Business Data Collection - BDC', Group='Industry by employment variable', Series_title_1='Filled jobs', Series_title_2='Agriculture, Forestry and Fishing', Series_title_3='Actual', Series_title_4=None, Series_title_5=None),
 Row(Series_reference='BDCQ.SEA1AA', Period=2011.09, Data_value=78324.0, Suppressed=None, STATUS='F', UNITS='Number', Magnitude=0, Subject='Business Data Collection - BDC', Group='Industry by employment variable', Series_title_1='Filled jobs', Series_title_2='Agriculture, Forestry and Fishing', Series_title_3='Actual', Series_title_4=None, Series_title_5=None)]

In [53]:
df_spark.select('Period','Group').show()

+-------+--------------------+
| Period|               Group|
+-------+--------------------+
|2011.06|Industry by emplo...|
|2011.09|Industry by emplo...|
|2011.12|Industry by emplo...|
|2012.03|Industry by emplo...|
|2012.06|Industry by emplo...|
|2012.09|Industry by emplo...|
|2012.12|Industry by emplo...|
|2013.03|Industry by emplo...|
|2013.06|Industry by emplo...|
|2013.09|Industry by emplo...|
|2013.12|Industry by emplo...|
|2014.03|Industry by emplo...|
|2014.06|Industry by emplo...|
|2014.09|Industry by emplo...|
|2014.12|Industry by emplo...|
|2015.03|Industry by emplo...|
|2015.06|Industry by emplo...|
|2015.09|Industry by emplo...|
|2015.12|Industry by emplo...|
|2016.03|Industry by emplo...|
+-------+--------------------+
only showing top 20 rows

In [54]:
df_spark.dtypes

[('Series_reference', 'string'),
 ('Period', 'double'),
 ('Data_value', 'double'),
 ('Suppressed', 'string'),
 ('STATUS', 'string'),
 ('UNITS', 'string'),
 ('Magnitude', 'int'),
 ('Subject', 'string'),
 ('Group', 'string'),
 ('Series_title_1', 'string'),
 ('Series_title_2', 'string'),
 ('Series_title_3', 'string'),
 ('Series_title_4', 'string'),
 ('Series_title_5', 'string')]

In [55]:
df_spark.describe()

DataFrame[summary: string, Series_reference: string, Period: string, Data_value: string, Suppressed: string, STATUS: string, UNITS: string, Magnitude: string, Subject: string, Group: string, Series_title_1: string, Series_title_2: string, Series_title_3: string, Series_title_4: string, Series_title_5: string]

In [56]:
df_spark.describe().show()

+-------+----------------+------------------+-----------------+----------+------+------+------------------+--------------------+--------------------+--------------+---------------+--------------+--------------+--------------+
|summary|Series_reference|            Period|       Data_value|Suppressed|STATUS| UNITS|         Magnitude|             Subject|               Group|Series_title_1| Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+-------+----------------+------------------+-----------------+----------+------+------+------------------+--------------------+--------------------+--------------+---------------+--------------+--------------+--------------+
|  count|           20254|             20254|            15795|      2875| 20254| 20254|             20254|               20254|               20254|         20254|          20254|         20254|             0|             0|
|   mean|            null|2016.3436605117113|61578.89286068425|      null|  null|  null| 2.378493137158092|                null|                null|          null|           null|          null|          null|          null|
| stddev|            null| 3.215942696094501|186038.0477298779|      null|  null|  null|2.9349879941451604|                null|                null|          null|           null|          null|          null|          null|
|    min|     BDCQ.SEA1AA|           2011.06|         1.225683|         Y|     C|Number|                 0|Business Data Col...|Age by employment...|   Filled jobs|          15-19|        Actual|          null|          null|
|    max|   BDCQ.SEE3999A|           2022.06|        2196974.0|         Y|     R| Value|                 6|Business Data Col...|Territorial autho...|Total earnings|Wholesale Trade|         Trend|          null|          null|
+-------+----------------+------------------+-----------------+----------+------+------+------------------+--------------------+--------------------+--------------+---------------+--------------+--------------+--------------+

## Adding columns in DataFrame

In [57]:
df_spark.withColumn('Change new',df_spark['Magnitude']+2)

DataFrame[Series_reference: string, Period: double, Data_value: double, Suppressed: string, STATUS: string, UNITS: string, Magnitude: int, Subject: string, Group: string, Series_title_1: string, Series_title_2: string, Series_title_3: string, Series_title_4: string, Series_title_5: string, Change new: int]

In [58]:
df_spark.show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|     BDCQ.SEA1AA|2011.06|   80078.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.09|   78324.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.12|   85850.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.03|   90743.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.06|   81780.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.09|   79261.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.12|   87793.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.03|   91571.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.06|   81687.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.09|   81471.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.12|   93950.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.03|   97208.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.06|   85879.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.09|   84447.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.12|   95075.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.03|   98202.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.06|   87987.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.09|   84529.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.12|   96848.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2016.03|   99291.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

In [59]:
df_spark=df_spark.drop('Magnitude')

In [60]:
df_spark

DataFrame[Series_reference: string, Period: double, Data_value: double, Suppressed: string, STATUS: string, UNITS: string, Subject: string, Group: string, Series_title_1: string, Series_title_2: string, Series_title_3: string, Series_title_4: string, Series_title_5: string]

In [61]:
df_spark=df_spark.withColumnRenamed('Change new','Magnitude')

DataFrame[Series_reference: string, Period: double, Data_value: double, Suppressed: string, STATUS: string, UNITS: string, Subject: string, Group: string, Series_title_1: string, Series_title_2: string, Series_title_3: string, Series_title_4: string, Series_title_5: string]

# Pyspark Handling Missing Values
### -> Dropping Columns 
### -> Dropping Rows
### -> Various Parameters In Dropping functionalities
### -> Handling Missing values by MEAN

In [72]:
from pyspark.sql import session
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [73]:
df = spark.read.csv('./machine-readable-business-employment-data-june-2022-quarter.csv', header=True,inferSchema=True)

In [75]:
df.show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|     BDCQ.SEA1AA|2011.06|   80078.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.09|   78324.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.12|   85850.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.03|   90743.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.06|   81780.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.09|   79261.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.12|   87793.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.03|   91571.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.06|   81687.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.09|   81471.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.12|   93950.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.03|   97208.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.06|   85879.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.09|   84447.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.12|   95075.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.03|   98202.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.06|   87987.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.09|   84529.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.12|   96848.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2016.03|   99291.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

In [76]:
# drop the -> rows with null Values
df.na.drop().show()

+----------------+------+----------+----------+------+-----+---------+-------+-----+--------------+--------------+--------------+--------------+--------------+
|Series_reference|Period|Data_value|Suppressed|STATUS|UNITS|Magnitude|Subject|Group|Series_title_1|Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+------+----------+----------+------+-----+---------+-------+-----+--------------+--------------+--------------+--------------+--------------+
+----------------+------+----------+----------+------+-----+---------+-------+-----+--------------+--------------+--------------+--------------+--------------+

In [77]:
df.show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|     BDCQ.SEA1AA|2011.06|   80078.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.09|   78324.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.12|   85850.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.03|   90743.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.06|   81780.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.09|   79261.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.12|   87793.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.03|   91571.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.06|   81687.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.09|   81471.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.12|   93950.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.03|   97208.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.06|   85879.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.09|   84447.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.12|   95075.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.03|   98202.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.06|   87987.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.09|   84529.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.12|   96848.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2016.03|   99291.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

In [81]:
# all null delete
df.na.drop(how="all")

DataFrame[Series_reference: string, Period: double, Data_value: double, Suppressed: string, STATUS: string, UNITS: string, Magnitude: int, Subject: string, Group: string, Series_title_1: string, Series_title_2: string, Series_title_3: string, Series_title_4: string, Series_title_5: string]

In [85]:
# Threshold for na delete 
df.na.drop(how="any",thresh=2)

DataFrame[Series_reference: string, Period: double, Data_value: double, Suppressed: string, STATUS: string, UNITS: string, Magnitude: int, Subject: string, Group: string, Series_title_1: string, Series_title_2: string, Series_title_3: string, Series_title_4: string, Series_title_5: string]

In [89]:
# Subset -> Column delete containg Na in value
df.na.drop(how="any", subset=['Magnitude'])

DataFrame[Series_reference: string, Period: double, Data_value: double, Suppressed: string, STATUS: string, UNITS: string, Magnitude: int, Subject: string, Group: string, Series_title_1: string, Series_title_2: string, Series_title_3: string, Series_title_4: string, Series_title_5: string]

In [93]:
### Filling the missing Values -> [] -> for multiple columns...
df.na.fill('Missing Balues huehue', ['Magnitude']).show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|     BDCQ.SEA1AA|2011.06|   80078.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.09|   78324.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.12|   85850.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.03|   90743.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.06|   81780.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.09|   79261.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.12|   87793.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.03|   91571.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.06|   81687.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.09|   81471.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.12|   93950.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.03|   97208.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.06|   85879.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.09|   84447.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.12|   95075.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.03|   98202.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.06|   87987.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.09|   84529.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.12|   96848.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2016.03|   99291.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

In [106]:
# Imputer Function in Spark
from pyspark.ml.feature import Imputer
imputer =Imputer(inputCols=['Magnitude','Period'],
outputCols=["{}_imputed".format(c) for c in ['Magnitude', 'Period']]
).setStrategy("mean")

In [107]:
df.dtypes

[('Series_reference', 'string'),
 ('Period', 'double'),
 ('Data_value', 'double'),
 ('Suppressed', 'string'),
 ('STATUS', 'string'),
 ('UNITS', 'string'),
 ('Magnitude', 'int'),
 ('Subject', 'string'),
 ('Group', 'string'),
 ('Series_title_1', 'string'),
 ('Series_title_2', 'string'),
 ('Series_title_3', 'string'),
 ('Series_title_4', 'string'),
 ('Series_title_5', 'string')]

In [109]:
# Add imputation cols to df 
imputer.fit(df).transform(df).show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+-----------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Magnitude_imputed|Period_imputed|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+-----------------+--------------+
|     BDCQ.SEA1AA|2011.06|   80078.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2011.06|
|     BDCQ.SEA1AA|2011.09|   78324.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2011.09|
|     BDCQ.SEA1AA|2011.12|   85850.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2011.12|
|     BDCQ.SEA1AA|2012.03|   90743.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2012.03|
|     BDCQ.SEA1AA|2012.06|   81780.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2012.06|
|     BDCQ.SEA1AA|2012.09|   79261.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2012.09|
|     BDCQ.SEA1AA|2012.12|   87793.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2012.12|
|     BDCQ.SEA1AA|2013.03|   91571.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2013.03|
|     BDCQ.SEA1AA|2013.06|   81687.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2013.06|
|     BDCQ.SEA1AA|2013.09|   81471.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2013.09|
|     BDCQ.SEA1AA|2013.12|   93950.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2013.12|
|     BDCQ.SEA1AA|2014.03|   97208.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2014.03|
|     BDCQ.SEA1AA|2014.06|   85879.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2014.06|
|     BDCQ.SEA1AA|2014.09|   84447.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2014.09|
|     BDCQ.SEA1AA|2014.12|   95075.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2014.12|
|     BDCQ.SEA1AA|2015.03|   98202.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2015.03|
|     BDCQ.SEA1AA|2015.06|   87987.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2015.06|
|     BDCQ.SEA1AA|2015.09|   84529.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2015.09|
|     BDCQ.SEA1AA|2015.12|   96848.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2015.12|
|     BDCQ.SEA1AA|2016.03|   99291.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|                0|       2016.03|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+-----------------+--------------+
only showing top 20 rows

# Pyspark DataFrames
### Filter OPtions
### & , | ,==
### ~

In [110]:
from pyspark.sql import SparkSession

In [121]:
spark = SparkSession.builder.appName('dataFrame').getOrCreate()

In [122]:
df =spark.read.csv('try2.csv',header=True, inferSchema=True)

In [123]:
df.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Harshit|  2|         1|   123|
|asdsads|  3|        11|  1234|
| qwerty|  2|         5|    12|
+-------+---+----------+------+

### Filter OPTIONS

In [124]:
# Experience greater than 4 
df.filter("Salary>=14").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Harshit|  2|         1|   123|
|asdsads|  3|        11|  1234|
+-------+---+----------+------+

In [125]:
df.filter("Experience>1").select(["Name",'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|asdsads|  3|
| qwerty|  2|
+-------+---+

In [128]:
df.filter(df['Salary']<1234).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Harshit|  2|         1|   123|
| qwerty|  2|         5|    12|
+-------+---+----------+------+

In [131]:
# & |
df.filter((df['Salary']<1234) & (df['Experience']>2)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|qwerty|  2|         5|    12|
+------+---+----------+------+

In [133]:
df.filter(~((df['Salary']<1234) & (df['Experience']>2))).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Harshit|  2|         1|   123|
|asdsads|  3|        11|  1234|
+-------+---+----------+------+

# Pypark GroupBy And Aggregate Functions

In [134]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Agg').getOrCreate()

22/11/09 00:00:58 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [135]:
spark

In [146]:
df= spark.read.csv('./test3.csv',header=True,inferSchema=True)

In [147]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [148]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [149]:
## Group By 
### Grouped to find the maximum Salary 
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [152]:
## Group Departments which gives max salary 
df.groupBy('Departments').sum().show() # name removed

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [161]:
df.groupBy('Departments').mean().show() # name removed

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [162]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [160]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [163]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [164]:
# agg sum -> salary 
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

# Two -> ways RDD and Dataframe API